@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@mixin margin-padding-zero {
  margin: 0;
  padding: 0;
}

// @mixin button-zero {
//   @include margin-padding-zero;
//   background: none;
//   border: none;
// }

@mixin tablet {
  @media (min-width: $tablet-width) {
    @content;
  }
}

@mixin retina {
  @media (min-resolution: 2dppx) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-width) {
    @content;
  }
}

@mixin mobile-only {
  @media (min-width: $mobile-width-only) {
    @content;
  }
}

// Технические миксины

@mixin red-outline {
  outline: 5px solid rgba(255, 0, 0, 0.3);
  outline-offset: -5px;
}

@mixin green-outline {
  outline: 5px solid rgba(0, 255, 0, 0.3);
  outline-offset: -5px;
}

@mixin yellow-outline {
  outline: 5px solid rgba(255, 255, 0, 0.3);
  outline-offset: -5px;
}

@mixin blue-outline {
  outline: 5px solid rgba(0, 0, 255, 0.3);
  outline-offset: -5px;
}

@mixin purple-ouitline {
  outline: 5px solid rgba(128, 72, 123, 0.3);
  outline-offset: -5px;
}

@mixin yellowgreen-ouitline {
  outline: 5px solid yellowgreen;
  outline-offset: -5px;
}
