// Dimension
$tablet-width: 768px;
$desktop-width: 1150px;
$mobile-width-only: 767px;

$white: #ffffff;
$black: #000000;
$dark-grey-font: #444444;
$menu-font-purple: #a29bfe;

$light-grey-font: #c6c6c6;
$light: rgba(0, 0, 0, 0.2);

$background-menu1: #710167;

$background-menu: #0097a7;

$menu-first: #81ecec;
$menu-second:#ff7675;
$menu-third:#55efc4;
$menu-fourth:#fd79a8;

$dark-grey-background: #f1f1f1;

// pallete proposition
$primary-color-dark:   #0097a7;
$primary-color:        #00bcd4;
$primary-color-light:  #b2ebf2;
$accent-color:         #e040fb;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #bdbdbd;
